<html>
    <head>
        <title>Node PlayGround</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section id="principal">
            <h1 class="title">Node.js PlayGround</h1>
            <img src="https://nodejs.org/static/images/logo.svg" alt="Node Logo">
            <h2>Sobre</h2>
            <a href="about.html">About</a>
            <a href="https://nodejs.org/en/">Oficial Site</a>            
            <p> <strong>Node.js</strong> <em>basices</em></p>
            <p><a href="pure-css-example.html">Pure CSS Example</a></p>
            <p><a href="bootstrap-example.html">Bootstrap Example</a></p>
        </section>
        <div class="box">
            <span>Texto</span>
        </div>
    </body>
</html>